@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fontlibrary.org//face/futura-renner");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
  background-color: white;
}

body {
  z-index: -1;
}

.parallax {
  /* The image used */
  background-image: url("../media/images/shanes-banner.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* background colours */
#welcome, #projects, #reviews {
  background-color: rgba(121, 132, 113, 0.2); /* Light blue */
}

#product, #prosess, #contact-us {
  background-color: rgba(121, 132, 113, 0.1); /* Lavender */
}

#contact-us button {
  background-color: #798471;
  border: none; /* No border */
  color: white; /* White text */
  padding: 1rem 40%; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline element */
  font-size: 1rem; /* Font size */
  margin: 0.5rem 0.5rem; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background-color transition */
}

/* Change background color on hover */
.button:hover {
  background-color: #45a049; /* Darker green */
}

/* Button when clicked (active state) */
.button:active {
  background-color: #3e8e41; /* Even darker green */
  box-shadow: 0 5px #666; /* Shadow effect */
  transform: translateY(4px); /* Move button down */
}

/* instagram-button */
.instagram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem; /* Adjust based on your needs */
}

.instagram {
  fill: white;
}

/* Mobile */
@media screen and (max-width: 320px) {
  .website {
    width: 320px;
  }
}
/* Small devices */
@media screen and (max-width: 480px) {
  .website {
    width: 480px;
  }
  #message {
    height: 20rem;
  }
}
/* Tablets and modern smartphones */
@media screen and (max-width: 768px) {
  .website {
    width: 768px;
  }
}
/* Landscape-oriented tablets and smaller laptops */
@media screen and (max-width: 1024px) {
  .website {
    width: 1024px;
  }
}
/* Larger laptops and desktops */
@media screen and (max-width: 1200px) {
  .website {
    width: 1200px;
  }
}
/* High-resolution monitors and larger desktops */
@media screen and (max-width: 1440px) {
  .website {
    width: 1440px;
  }
}
/* Ensure ordered list items are numbered */
ol {
  list-style-type: decimal;
  /* Default number style */
}

/* Optional: Custom styles for the list items */
ol li {
  margin-bottom: 0.3em;
  /* Adjust spacing between list items */
}

/* google maps */
iframe {
  border-radius: 0.5rem;
  height: 15rem;
  width: 100%;
}

section {
  border: 10rem;
}

#welcome, #product, #projects, #reviews, #contact-us {
  padding-top: 2rem;
}

.section-title {
  margin-bottom: 60px;
}

.text-center {
  text-align: center !important;
}

#banner .logo svg {
  padding-bottom: 5rem;
}

/* bookmark card */
/* .bookmark-card {
  border: 1px solid #bc0f0f;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease;

  background-color: #662E93;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23812c8d' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%239c2a87' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23b72781' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23d2257b' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ED2375' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f04b70' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f3726b' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f69a66' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f9c161' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FCE95C' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookmark-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.bookmark-content h5 {
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.bookmark-content p {
  font-size: 0.875rem;
  color: black;
}


 */
/* Navigation */
nav {
  position: fixed;
  top: 0;
  /* Fix the nav at the top of the viewport */
  left: 50%;
  /* Start positioning from the centre */
  transform: translateX(-50%);
  /* Shift back by half of its own width */
  height: 3rem;
  background-color: #9EA598;
  display: flex;
  justify-content: center;
  /* Centre content horizontally within the nav */
  align-items: center;
  z-index: 2;
  width: 100%;
  /* Ensure the nav spans the full width */
  max-width: 100%;
  /* Optional: Limit the maximum width */
}

.links-container {
  height: 100%;
  display: flex;
  justify-content: center;
  /* Centre links within the container */
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #9BAB9B;
  border-radius: 0.5rem;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: white;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.side-nav {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.content {
  margin-left: 25%;
}

@media (max-width: 750px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 475%;
    /* Adjust this to start centring */
    right: -100%;
    width: 100%;
    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-out;
    transform: translateY(-50%);
    /* Centre vertically */
  }
  nav a {
    box-sizing: border-box;
    height: 10rem;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    background-color: #9EA598;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
@media (max-width: 767.98px) {
  .side-nav {
    position: relative;
    height: auto;
    border-right: none;
  }
  .content {
    margin-left: 0;
  }
}