@use "./colours" as *;
@use "./font" as *;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section-title {
  margin-bottom: 60px;
}

.text-center {
  text-align: center !important;
}

#banner .logo svg {
  padding-bottom: 5rem;
  fill: rgb(255, 0, 0);
}



/* BBBB */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-custom {
  flex: 1 1 48%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-custom h2 {
  color: #4a90e2;
  margin-top: 0;
}

.card-custom blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #4a90e2;
  margin: 10px 0;
  padding-left: 15px;
}

.card-custom .ratings {
  margin-top: auto;
}

.card-custom .ratings p {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

strong {
  color: #333;
}

.container {
  height: 100%;
}

@media (max-width: 768px) {
  .card-custom {
      flex: 1 1 100%;
  }
}

/* ksajdhfsakjdfhlsakjfh */

.specialisation-section {
  background-color: #f8f9fa; /* Light background for contrast */
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  text-align: center;
  margin: 1.25rem auto; /* 20px */
  max-width: 50rem; /* 800px */
}

.specialisation-heading {
  font-size: 2em; /* Equivalent to 2rem if base is 16px */
  color: #333;
  margin-bottom: 0.625rem; /* 10px */
}

.specialisation-description {
  font-size: 1.2em; /* Equivalent to 1.2rem if base is 16px */
  color: #666;
}

.specialisation-description strong {
  color: $accent-color; /* Highlight the key terms */
  font-weight: bold;
}

.carousel-indicators {
  visibility: hidden;
}