@use "./colours" as *;
@use "./font" as *;
@use "./blockquote" as *;

main {
  background-color: white;
  max-width: 2560px; /* Maximum width */
  margin: 0 auto; /* Centre horizontally */
}

body {
  z-index: -1;
  }

  .parallax {
    /* The image used */
    background-image: url('../media/images/shanes-banner.jpg');
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Default for large screens */
.parallax {
  background-attachment: fixed;
}

/* Medium screens: disable parallax on smaller screens */
@media (max-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Small screens: further adjust the background for mobile */
@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
    background-position: center top;
  }
}

/* background colours */
#welcome, #projects, #reviews {
    background-color: rgba($accent-color, 0.2); /* Light blue */
}

#product, #prosess, #contact-us {
    background-color: rgba($accent-color, 0.1); /* Lavender */
}



