@use "./colours" as *;
@use "./font" as *;
@use "./blockquote" as *;
  
main {
  background-color: white;
}

  body {
	z-index: -1;
  }

  .parallax {
    /* The image used */
    background-image: url('../media/images/shanes-banner.jpg');
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* background colours */
#welcome, #projects, #reviews {
    background-color: rgba($accent-color, 0.2); /* Light blue */
}

#product, #prosess, #contact-us {
    background-color: rgba($accent-color, 0.1); /* Lavender */
}



