@use "./colours" as *;
@use "./base" as *;
@use "./blockquote" as *;
@use "./font" as *;

/* instagram-button */

.container .instagram-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem; /* Adjust based on your needs */
}

.instagram-button a {
    background-color: #ac2bac;
}

.container .title-instagram {
    padding-top: 2.5rem;
}

.instagram {
    fill: white;
}

.instagram-button a:hover {
    background-color: #C49B00; /* Change to Instagram's brand colour on hover */
    transform: scale(1.1); /* Optional: Slightly enlarge the button on hover */
}