
// Define your color variables
$primary-color: #7D8673;  // Darker to contrast better with light backgrounds
$secondary-color: #667B66; // Adjusted for better contrast with both black and white
$accent-color: #5C6654;   // Darkened for stronger contrast
$text-color: #4D4B3E;     // Darkened for better readability on light backgrounds
$background-color: #f7f7f7; // Slightly lightened to keep it distinct from text
$color-black: #000000;     // Pure black for the strongest contrast
$color-white: #ffffff;     // Pure white for the strongest contrast

$opposite-color: #7656a3; // Complementary to the primary colour
